* {
    margin: 0;
    padding: 0;
}
header {
    top: 0;
    position: fixed;
    height: 75px;
    background-color: rgb(6, 3, 15);
    width: 100%;
    border-bottom: 2px solid orange;
    display: flex;
    justify-content: center;
}
.logo {
    color: white;
    height: 70px;
    width: 70px;
    border: 1px solid orange;
    border-radius: 50%;
    margin-top: 1px;
}
.logo1 {
    height: 15px;
    text-align: center;
    margin-top: 27.5px;
    font-size: 0.8em;
    font-family: Roboto;
}
.first {
    margin-top: 100px;
}
.second {
    margin: 30px;
    padding: 30px;
    color: white;
    background-color: rgba(103, 97, 126, 0.726);
    border-radius: 30px;
}
.third {
    margin: 10px;
    font-family: Roboto;
}
.fourth {
    min-height: 20px;
    overflow: auto;
    font-family: Roboto;
}
h2 {
    font-family: Roboto;
}